.btn-container{
    display: flex;
justify-content: space-around;
margin: .5rem;
}
.comment p{
    margin:.7rem; 
    margin-left: .5rem;
   
}
.date-format{
    font-size:0.7rem;
    color:rgb(138, 137, 137);
    text-align: left;
}
.comment-container{
    display: flex;
    justify-content:space-between;
    height: 70px;

}