.pag-container {
 
  margin-top: 1rem;
  width: 50%;
  border: 1px solid black;
}
.pag-tabs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-bottom: 1px solid black;
  margin: auto;
  gap: 7rem;
}
.first:hover,
.previous:hover,
.next:hover,
.last:hover {
  cursor: pointer;
  background: #e55812;
}