@import url('./registry.css');
@import url('../components/message.css');


.new-post-form{
    justify-content:center;
    width:50rem;
    margin: 3rem auto 3rem auto; 
}
section{
    display:inherit;
    margin:0;
    justify-content:none;
}
/* section > .form-control{
    width:100%
} */
/*
section > .container{
display: flex;
flex-direction: column;
 flex-wrap:wrap; 
width:1200px;
background-color:#002626;
}*/

/* section > .update-desc{
    font-size: 4rem;
} */
.btn-container{
    display: flex;
justify-content: space-around;
margin: .5rem;
}

