/* Navigation */

/* Entries Section layout    */
#public-enteries{
  background-color:#0E4749 ;
}
.container{
display:flex;
border: 1px sold blue;
position: relative;
background-color: #fff;
}


.main-container {
  justify-content: center;
  align-items: center;
  margin:auto;

 
 
}
.main-section {
  position: relative;
  margin: auto ;
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
}
  .col {
    background-color: #f5ac72;
    border-radius: 10px;
   width:1200px;
  }

  .post-container{
    position: relative;
    width:100%;

    
  }
  

  /* HERO Section */
