@import url("base.css");
@import url("layout.css");

.title-container h1{
    font-weight: 900;
    font-size: 3rem;
    color: #002626;
}
.service_desc{
    font-size: 2rem;
    margin-top: 1rem;
    font-weight:bold;
    color:#002626;
}

.password_fieldset{
    padding-top: 15px;
    padding-bottom: 15px;
}

.fieldbox_username {
    background-color: aliceblue;
    
}
.fieldbox_password {
    background-color: aliceblue;
    margin-left: 8px;
}

.login_button {
    background-color: grey;
    padding: 5px;
}

