@import url("base.css");
@import url("layout.css");
@import url('./components/pagnation.css');
@import url('./components/buttons.css');
@import url('./components//cards.css');

/* Navigation */
.nav {
    background-color: #efe7da !important;
  }
  .nav-home{
    color:hsl(26, 77%, 50%);
    margin: 0 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    transition: all .3s ease-in-out;
  }
  
  .nav-home :hover{
    bottom: 0;
    height: 100%;
  }
  
/* Enteries Section */
.title-container h1{
    font-weight: 900;
    font-size: 3rem;
    color: #002626;
}
.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
  }
.service_desc{
    font-size: 2rem;
    margin: 1rem;
    font-weight:bold;
    color:#002626;
}


/* Left - Side Section */
.left-col .service-text{
    font-weight:bold;
    font-size: 2rem;;
}
.service-text{
    font-size: 2rem;
    margin: auto;
}

/* Hero Section */
.hero{
    height: 50rem;
}
.hero-title{
    display:flex;
    width: 50%;
    font-size: 4rem;
    font-weight: 800;
    margin: auto;
}
.hero-content p{
    font-size: 1.4rem;
}

.content-title{
    margin:3rem;
    font-size: 3rem;
    font-weight: 700;
    color:#e2711d
}
.content-card .card-title{
    font-size: 1.5rem;
}

img{
    height: 200px;
    width: 400px;
    object-fit:contain;
}



